.todo-card {
    width: 320px;
    height: 180px;
    
    display: flex;
    flex-direction: column;
    margin: 0;
    border-radius: 10px;
    border: 1px solid black;
    padding: 12px 16px;
    background-color: white;
  }
  
.todo-card-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

.task {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
}

.memo {
    font-size: var(--font-size-small);
}