#root {
  width: 100vw;
  height: 100vh;

  margin: 0;
  padding: 2em;

  display: flex;
  flex-direction: column;
  text-align: left;

  --font-size-large: 20px;
  --font-size-medium: 17px;
  --font-size-small: 14px;

  --font-weight-bold: 700;
  --font-weight-regular: 500;
  --font-weight-light: 300;

  --item-gap: 12px;
}

.my-todo-list {
  display: flex;
  flex-direction: column;
  gap: var(--item-gap);

  width: auto;
}

.input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: aliceblue;
  padding: 16px 24px;
  border-radius: 24px;

  width: 500px;
}

.input-cards {
  display:flex;
  flex-direction: column;
  gap: var(--item-gap);
}

.input-card {
  display: flex;
  flex-direction: row;
}

.input-label {
  font-weight: bold;
  width: 72px;
  margin: 0px;
}

.input-button {
  background-color: skyblue;
  color: white;
  padding: 12px 16px;
}

.todo-card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--item-gap);

  height: 640px;
  overflow-y: scroll;

  background-color: aliceblue;
  padding: 16px 24px;
  border-radius: 24px;
}