@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

#root {
  width: 100vw;
  height: 100vh;
  max-width: 720px;

  margin: 0;
  padding: 2em;

  display: flex;
  flex-direction: column;
  text-align: left;

  --font-size-large: 20px;
  --font-size-medium: 17px;
  --font-size-small: 14px;

  --font-weight-bold: 700;
  --font-weight-regular: 500;
  --font-weight-light: 300;

  --item-gap: 12px;

  --color-system-blue: #0066FF;

  --color-black: #000000;
  --color-gray-9: #999999;
  --color-gray-a: #AAAAAA;
  --color-gray-d: #dddddd;
  --color-gray-f5: #F5F5F5;
}

html * {
  font-family: Pretendard, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.my-todo-list {
  display: flex;
  flex-direction: column;
  gap: var(--item-gap);

  width: auto;
}

p {
  margin: 0px;
}

.input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: aliceblue;
  padding: 16px 24px;
  border-radius: 24px;

  /* width: 500px; */
}

.radioContainer {
  display: flex;
  flex-direction: row;
  gap: var(--item-gap);
}

.checkboxContainer {
  display: flex;
  flex-direction: row;
  gap: var(--item-gap);
}

.input-container {
  display:grid;
  grid-template-columns: 1fr 3fr;
  gap: var(--item-gap);
}

.input-label {
  font-weight: bold;
  width: 72px;
  margin: 0px;
}

.input-button {
  background-color: skyblue;
  color: white;
  padding: 12px 16px;
}

.cardListContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px 16px;
}

.cardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--item-gap);

  height: 640px;
  overflow-y: scroll;
}